:root {
    --orange: rgb(240, 101, 0);
    --white: rgb(230, 229, 229);
    --black: rgb(34, 34, 34);
    --blue: rgb(12, 53, 67);
    --gray: rgb(217, 217, 217);
}
body{
    background-color: var(--white);
}   
    .contact-title {
        margin: 100px 20px 20px;
        font-size: xx-large;
        color: var(--white);
    }
    
    .meta-contact-title {
        margin: 20px;
        font-size: 1.2rem;
    }
    
    .keywords {
        color: var(--blue);
    }
    
    .contact-info {
        margin: 20px;
        line-height: 1.6; /* Mejor legibilidad */
        max-width: 800px; /* Evita líneas muy largas */
    }
    
    .donative-container {
        padding: 20px;
        background: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
        border-radius: 8px; /* Bordes redondeados */
    }