/* Sección de la galería de imágenes */
.defensoras-gallery {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.defensoras-gallery-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Configuración de las imágenes individuales de la galería */
.defensoras-gallery-item {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transform: scale(2.0);
    transition: opacity 3s ease, transform 2s ease;
    visibility: hidden;
    max-width: 100%;
    max-height: 100%;
}

.defensoras-gallery-item.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);

}

/* Sección de los textos sobre la imagen */
.defensoras-image-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
    color: var(--white);
    z-index: 2;
}

.defensoras-image-text:hover {
    color: var(--orange);
}

.defensoras-image-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.defensoras-image-text p {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

/* Contenido adicional */
.defensoras-content {
    background-image: url(/src/assets/img/grayFlower_background.jpg);
    position: relative;
    z-index: 3;
    padding: 2rem;
}
.olas-defensoras{
    width: 100%;
    position: relative;
    z-index: 1;
    bottom: 150px;
}
