:root {
    --orange: rgb(240, 101, 0);
    --white: rgb(230, 229, 229);
    --black: rgb(34, 34, 34);
    --blue: rgb(12, 53, 67);
    --gray: rgb(217, 217, 217);
}

.colorDF {
    display: flex;
    margin: 120px 500px;
    border-radius: 50px;
    font-size: 50px;
    justify-content: center;
    color: var(--white);
    background-color: var(--blue);
    transition: background-color ease 0.5s;
}

.colorDF:hover {
    background-color: var(--orange);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/*CTA de ¿Por qué?*/
.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-porque {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 20px;
    margin: 20px;
    padding: 15px 25px;
    transition: background-color ease 0.3s;
    cursor: pointer;
}

.cta-porque:hover {
    background-color: var(--orange);
}

/*Sección de la imagen de incio*/
.defenred-gallery {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.defenred-gallery-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Configuración de las imágenes individuales de la galería */
.gallery-item {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transform: scale(2.0);
    transition: opacity 3s ease, transform 2s ease;
    visibility: hidden;
}

.gallery-item.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
/*Sección de los textos sobre la imagen*/
.image-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
    color: var(--white);
    z-index: 2;
}
.image-text:hover{
    color: var(--orange);
}
.image-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.image-text p {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
.olas-defenred{
    width: 100%;
    position: relative;
    z-index: 1;
    bottom: 150px;
}
.sections-background-defenred{
    background-image: url(/src/assets/img/grayFlower_background.jpg);
}
