:root { /*COLORES DETERMINADOS PARA EL SITIO WEB*/
    --orange: rgb(240, 101, 0);
    --white: rgb(230, 229, 229);
    --black: rgb(34, 34, 34);
    --blue: rgb(12, 53, 67);
    --gray: rgb(217, 217, 217);
  }
.title-inicio{
margin-left: 30px;
}
.parrafo1-inicio {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    padding: 40px;
    font-size: larger;
    text-align: center;
    border-radius: 20px;
    border-style: dashed;
    background-size: cover;
    background-position: center;
    transition: background-size 0.5s ease, font-style 0.3s ease;
    margin: 20px;
    color: var(--orange);
    line-height: 1.6;
}
.parrafo1-inicio:hover {
  font-style: italic;
  /*
  font-size: x-large;
  background-size: 110%; 
  */
}