:root {
  /*COLORES DETERMINADOS PARA EL SITIO WEB*/
  --orange: rgb(240, 101, 0);
  --white: rgb(230, 229, 229);
  --black: rgb(34, 34, 34);
  --blue: rgb(12, 53, 67);
  --gray: rgb(217, 217, 217);
}

body {
  background-color: var(--white);
}

.title-inicio {
  display: flex;
  /*margin-left: 30px;*/
  justify-content: center;
  color: var(--white);
  font-size: 5em;
  background-color: var(--blue);
}

.meta-info {
  margin-left: 30px;
  font-size: x-large;
}

.keywords {
  color: var(--blue);
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-unete {
  font-size: 120px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 20px;
  margin: 20px;
  /*El padding hace que haya espacio alrededor del texto*/
  /*10px es para el top/bottom y 20px es para el left/right*/
  padding: 15px 25px;
  transition: background-color ease 0.3s;
  cursor: pointer;
}

.cta-unete:hover {
  background-color: orange;
}
.parrafo1-inicio{
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  /*max-width: 80%;*/
  margin: 0 auto;
  background-color: var(--gray);
}
.parrafo1-inicio p {
  flex: 1;
  width: 150px;
  height: auto;
  text-align: justify;
  font-size: 1.3em;
  border-style: dotted;
  background-color: var(--white);
  padding: 20px;
  color: var(--black);
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.parrafo1-inicio p:hover {
  background-color: var(--orange);
  color: var(--white);
  font-weight: bold;
  border-style: groove;
  padding: 20px;
  border-radius: 5px;
}

.parrafo1-inicio img {
  width: 500px;
  height: auto;
  border-style: dashed;
  transition: transform 0.5s ease;
  object-fit: cover;
}

.parrafo1-inicio img:hover {
  transform: rotate(3deg) scale(1.3);
}