/* Estilos generales */
:root {
    --orange: rgb(240, 101, 0);
    --white: rgb(230, 229, 229);
    --black: rgb(34, 34, 34);
    --blue: rgb(12, 53, 67);
    --gray: rgb(217, 217, 217);
}

/* Contenedor principal del footer */
.footerContainer {
    width: 100%;
    padding: 20px;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    background-color: var(--blue);
    color: var(--white);
}

/* Contenedor para la imagen y el contenido */
.footerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para la imagen */
.footerImage img {
    width: 300px; 
    height: auto;
    border-radius: 10px;
    border: 2px solid var(--white);
    transition: transform 0.3s ease;
}

.footerImage img:hover {
    transform: scale(1.05);
}

/* Contenedor para el texto y los iconos */
.footerText {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilos para los iconos sociales */
.socialIcons {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

.socialIcons a {
    color: var(--white);
    font-size: 35px;
    transition: color 0.3s ease;
}

.socialIcons a:hover {
    color: var(--orange);
}

/* Estilos para el texto del footer */
.footer-disclaimer {
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.footer-disclaimer:hover{
    color: var(--orange);
}

.footer-p {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
}
.footer-year{
    color: var(--gray);
}
.footer-links{
    cursor: pointer;
    color: var(--white);
    transition: all 0.5s ease;
}
.footer-links:hover{
    color: var(--orange);
}
.footer-links2{
    cursor: pointer;
    color: var(--white);
    transition: all 0.5s ease;
}
.footer-links2:hover{
    color: var(--orange);
}
/* Estilos responsivos para móviles */
@media (max-width: 768px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footerImage img {
        width: 300px;
    }

    .socialIcons {
        justify-content: center;
    }
}