:root {
    --orange: rgb(240, 101, 0);
    --white: rgb(230, 229, 229);
    --black: rgb(34, 34, 34);
    --blue: rgb(12, 53, 67);
    --gray: rgb(217, 217, 217);
  }
.keywords{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--blue);
}
.publicaciones-title{
    font-size: clamp(2.5rem, 8vw, 5rem);
    padding: 1rem 0;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
}
