:root {
  --orange: rgb(240, 101, 0);
  --white: rgb(230, 229, 229);
  --black: rgb(34, 34, 34);
  --blue: rgb(12, 53, 67);
  --gray: rgb(217, 217, 217);
}

/*RECORDAR CAMBIAR LOS COLORES DEL BACKGROUND CON LOS DE ARRIBA COHERENTEMENTE*/
/*
USO DE LOS COLORES.

Colores principales: El naranja lo utilizaríamos en encabezados,
fondos y menús mientras que el blanco lo utilizaremos para
resaltar textos y como fondo principal.
Colores secundarios: El negro lo utilizaremos para botones
interactivos y posibles detalles visuales a lo largo de la página
web.
Colores complementarios: El azul oscuro lo utilizaremos para
elementos clave como enlaces importantes o iconos debido
a que es un color fuerte que ayudará a guiar la atención
del usuario hacia las zonas que deseemos. Y el gris claro lo
emplearemos en fondos de sección, este color sirve para
separar diferentes áreas sin distraer la atención del contenido
principal.
*/