:root {
    /*COLORES DETERMINADOS PARA EL SITIO WEB*/
    --orange: rgb(240, 101, 0);
    --white: rgb(230, 229, 229);
    --black: rgb(34, 34, 34);
    --blue: rgb(12, 53, 67);
    --gray: rgb(217, 217, 217);
}
.footerContainer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
}
.socialIcons {
    display: flex;
    justify-content: center;
    font-size: small;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: transparent;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: var(--black);
    opacity: 0.9;
}

/*Efecto hover en los íconos de redes sociales*/
.socialIcons a:hover {
    background-color: var(--orange);
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: var(--white);
    transition: 0.5s;
}
/*Sección de enlaces*/
.footerLinks {
    margin-bottom: 20px;
}

.footerLinks li {
    margin: 0 15px;
    color: var(--black);
    font-size: 16px;
}

.footerLinks li:hover {
    color: var(--blue);
}

.footer-p {
    margin-top: 20px;
    font-size: 14px;
    color: var(--black);
}