:root {
    --orange: rgb(240, 101, 0);
    --white: rgb(230, 229, 229);
    --black: rgb(34, 34, 34);
    --blue: rgb(12, 53, 67);
    --gray: rgb(217, 217, 217);
}
.form-container {
    display: flex;
    justify-content: center;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    background-color: var(--gray);
    margin: 20px auto;
    padding: 40px 20px;
    border: 1px solid;
    border-radius: 8px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-group label {
    font-style: italic;
    font-weight: bold;
    color: var(--black);
  }
  
  .form-group input {
    padding: 8px;
    border: 1px groove var(--white);
    color: var(--black);
    border-radius: 10px;
    font-size: 16px;
    transition: all ease 0.5s;
  }
  .form-group input:focus {
    background-color: var(--blue);
    color: var(--white);
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--white);
    border-style: groove;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: var(--orange);
  }