:root {
    --orange: rgb(240, 101, 0);
    --white: rgb(230, 229, 229);
    --black: rgb(34, 34, 34);
    --blue: rgb(12, 53, 67);
    --gray: rgb(217, 217, 217);
}

.quote-defensoras {
    margin-top: 80px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-defensoras p {
    padding: 20px;
    text-align: center;
    color: var(--black);
}

.quote-defensoras p:hover {
    background-color: var(--orange);
    color: var(--white);
}

/* Estilos de los títulos de cada sección de 'quiénes somos' */
.title-who {
    display: flex;
    text-align: right;
    padding-left: 20px;
}

.title-house {
    /* El flex evita que funcione, display: flex; */
    text-align: right;
    padding-right: 20px;
}

/* Estilos generales de las secciones */
.section-who,
.section-house {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    max-width: 80%;
}

/* Sección 'quiénes somos' */
.section-who {
    grid-template-columns: 50% 50%;
    /* Si usas grid, quita los estilos flexibles para evitar conflictos */
}

.section-who p {
    flex: 1;
    width: 150px;
    height: auto;
    text-align: justify;
    font-size: 1.2em;
    border-style: dotted;
    background-color: snow;
    padding: 20px;
    color: black;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.section-who p:hover {
    background-color: var(--color5);
    color: var(--color3);
    font-weight: bold;
    border-style: groove;
    padding: 20px;
    border-radius: 5px;
}

.section-who img {
    width: 500px;
    height: auto;
    transition: transform 0.5s ease;
    object-fit: cover;
}

/* Sección 'casa de respiro' */
.section-house {
    grid-template-columns: 50% 50%;
    /* Si usas grid, quita los estilos flexibles para evitar conflictos */
}

.section-house p {
    flex: 1;
    width: 150px;
    height: auto;
    text-align: justify;
    font-size: 1.2em;
    border-style: dotted;
    background-color: snow;
    padding: 20px;
    color: black;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.section-house p:hover {
    background-color: var(--color5);
    color: var(--color3);
    font-weight: bold;
    border-style: groove;
    padding: 20px;
    border-radius: 5px;
}

.section-house img {
    width: 500px;
    height: auto;
    transform: rotate(6deg);
    transition: transform 0.5s ease;
    object-fit: cover;
}

.section-house img:hover {
    transform: rotate(-3deg) scale(1.1);
}